<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoundPad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D333B6A2DA51A3100B9B42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D333B7B2DA51A3300B9B42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D333B852DA51A3300B9B42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
